$primary-color: #66adad; // primary color for all components
$link-color: #66a4ad; // link color
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
$font-size-base: 14px; // major text font size
$heading-color: rgba(0, 0, 0, 0.85); // heading text color
$text-color: rgba(0, 0, 0, 0.65); // major text color
$text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
$border-radius-base: 4px; // major border radius
$border-color-base: #d9d9d9; // major border color
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

.ant-layout {
  background-color: #000000;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// ANT COMPONENTS
.ant-select {
  width: 100% !important;
  margin-bottom: 20px;
  font-family: 'Conduit itc', sans-serif;
  .ant-select-selection {
    .ant-select-selection__rendered {
      height: 32px;
    }
  }
}
.ant-carousel >>> .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel >>> .slick-slide h3 {
  color: #fff;
}

// TABLES

.ant-table-wrapper {
  padding: 10px;

  .ant-table-thead > tr > th {
  }

  td {
    font-family: 'Conduit itc', sans-serif;
    color: #fff;
    text-transform: uppercase;
  }

  tr:hover {
    td {
      background-color: #303030 !important;
    }
  }
}
